/* Variables */

/* Colores */
$color-naranja: #cd4e37;
$color-amarillo: #d98d28;
$color-blanco: #ffffff;
$color-gris: #434041;
$color-grisClaro: #e6e7e8;

/* Gradients */
%bordeGradient {
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, $color-naranja, $color-amarillo);
}
%textoGradient {
    background: linear-gradient(to right, $color-naranja 0%, $color-amarillo 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Textos */
%proximaNova_Regular {
    font-family: proxima_nova, sans-serif;
    font-weight: 400;
}
%proximaNova_Bold {
    font-family: proxima_nova, sans-serif;
    font-weight: 700;
}
%tituloTop {
    font-family: proxima_nova, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
}
%tituloBot {
    font-family: proxima_nova, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
}
%textoLectura {
    font-family: proxima_nova, sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 26px;
}

/* Generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
p,
li,
ul,
a {
    font-family: proxima_nova, sans-serif;
    text-decoration: none;
}
p,
li,
ul {
    @extend %textoLectura;
}
a {
    @extend %proximaNova_Bold;
}
h1 {
    @extend %tituloTop;
}
h2 {
    @extend %tituloBot;
}

.titulo__top__white {
    display: inline-block;
    p {
        @extend %tituloTop;
        color: $color-blanco;
    }
    hr {
        background: linear-gradient(to right, $color-naranja 0%, $color-amarillo 100%);
        height: 6px;
        width: 100px;
        margin: auto;
        border: none;
        margin-top: 10px;
    }
}
.cd-img-replace {
    /* replace text with a background-image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  }
  
  .cd-scroll-down {
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 20px;
    width: 38px;
    height: 44px;
    background: url("../img/cd-arrow-bottom.svg") no-repeat center center;
  }
  
  /* No Touch devices */
  .cd-nav-trigger {
    display: none;
  }
  
  .no-touch #cd-vertical-nav {
    position: fixed;
    right: 40px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
  }
  .no-touch #cd-vertical-nav li {
    text-align: right;
    list-style: none;
  }
  .no-touch #cd-vertical-nav a {
    display: inline-block;
    /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .no-touch #cd-vertical-nav a:after {
    content: "";
    display: table;
    clear: both;
  }
  .no-touch #cd-vertical-nav a span {
    float: right;
    display: inline-block;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
  }
  .no-touch #cd-vertical-nav a:hover span {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  .no-touch #cd-vertical-nav a:hover .cd-label {
    opacity: 1;
  }
  .no-touch #cd-vertical-nav a.is-selected .cd-dot {
    background-color: black;
  }
  .no-touch #cd-vertical-nav .cd-dot {
    position: relative;
    /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
    top: 8px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #b0b3b3;
    -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
    -moz-transition: -moz-transform 0.2s, background-color 0.5s;
    transition: transform 0.2s, background-color 0.5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  .no-touch #cd-vertical-nav .cd-label {
    position: relative;
    margin-right: 10px;
    padding: .4em .5em;
    color: #b0b3b3;
    line-height: 16px;
    font-size: 14px;
    font-size: 0.875rem;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  
  /* Touch devices */
  .touch .cd-nav-trigger {
    display: block;
    z-index: 2;
    position: fixed;
    bottom: 30px;
    right: 5%;
    height: 44px;
    width: 44px;
    border-radius: 0.25em;
    background: rgba(255, 255, 255, 0.9);
  }
  .touch .cd-nav-trigger span {
    position: absolute;
    height: 4px;
    width: 4px;
    background-color: #3e3947;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
  }
  .touch .cd-nav-trigger span::before {
    top: -9px;
  }
  .touch .cd-nav-trigger span::after {
    bottom: -9px;
  }
  
  .touch #cd-vertical-nav {
    position: fixed;
    z-index: 1;
    right: 5%;
    bottom: 30px;
    width: 90%;
    max-width: 400px;
    max-height: 90%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border-radius: 0.25em;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .touch #cd-vertical-nav a {
    display: block;
    padding: 1em;
    border-bottom: 1px solid rgba(62, 57, 71, 0.1);
  }
  .touch #cd-vertical-nav a span:first-child {
    display: none;
  }
  .touch #cd-vertical-nav a.is-selected span:last-child {
    color: #b0b3b3;
  }
  .touch #cd-vertical-nav.open {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  .touch #cd-vertical-nav.open + .cd-nav-trigger {
    background-color: transparent;
  }
  .touch #cd-vertical-nav.open + .cd-nav-trigger span {
    background-color: rgba(62, 57, 71, 0);
  }
  .touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
    background-color: #3e3947;
    height: 3px;
    width: 20px;
    border-radius: 0;
    left: -8px;
  }
  .touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 1px;
  }
  .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    bottom: 0;
  }
  .touch #cd-vertical-nav li:last-child a {
    border-bottom: none;
  }
  
  @media only screen and (min-width: 768px) {
    .touch .cd-nav-trigger, .touch #cd-vertical-nav {
      bottom: 40px;
    }
  }
  
/* Nav */
#navegador {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    background: $color-blanco;
    transition: 0.2s;
    .navegador {
        padding: 15px 0px;
        position: relative;
        width: 90%;
        margin: auto;
        .navegador__logo {
            float: left;
            position: relative;
            a {
                img {
                    padding-bottom: 12px;
                    width: 238px;
                }
            }
        }
        .navegador__links {
            float: right;
            max-width: 820px;
            width: 100%;
            margin-top: 7px;
            .linkedinnav {
                width: 20px;
                transform: translateY(4px);
                a {
                    width: 21px;
                    img {
                        width: 21px;
                    }
                    &:hover {
                        border-bottom: 0 solid;
                    }
                }
            }
            li {
                padding: 0;
                list-style: none;
                position: relative;
                display: inline-block;
                padding: 11px 0 0 20px;
                margin-left: 20px;
                font-size: 16px;
                &:nth-child(5) {
                    margin-right: 0;
                }
                a {
                    position: relative;
                    display: inline-block;
                    height: 28px;
                    color: $color-gris !important;
                    &:hover,
                    :active,
                    :focus {
                        border-bottom: 4px solid;
                        @extend %bordeGradient;
                    }
                }
                .linkactive {
                    position: relative;
                    display: inline-block;
                    height: 28px;
                    color: $color-gris !important;
                    border-bottom: 4px solid;
                    @extend %bordeGradient;
                }
                ul {
                    position: absolute;
                    left: 0;
                    margin: 0;
                    background: $color-blanco;
                    display: none;
                    padding-top: 5px;
                    margin-left: 19px;
                    li {
                        clear: both;
                        list-style: none;
                        display: block;
                        margin-left: 0;
                        padding: 0;
                        a {
                            padding: 0 0 30px 20px;
                            font-size: 13px;
                            color: $color-gris !important;
                            display: inline-block;
                            width: 100%;
                            border-bottom: 0 solid transparent;
                            &:hover {
                                @extend %bordeGradient;
                                @extend %textoGradient;
                                border-bottom: 0 solid;
                            }
                        }
                        &:nth-child(1) {
                            a {
                                padding-top: 10px;
                            }
                        }
                    }
                }
            }
            li:hover {
                ul {
                    display: block;
                    animation: fadeInRight 0.3s ease;
                    -webkit-animation: fadeInRight 0.3s ease;
                    width: 320px;
                    padding-top: 10px;
                }
            }
            li:hover:nth-child(1){
                ul {
                    width: 200px;
                }
            }
            li:hover:nth-child(2){
                ul {
                    width: 200px;
                }
            }
            li:hover:nth-child(4){
                ul {
                    width: 200px;
                }
            }
        }
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

section {
    padding: 50px;
    position: relative;
    text-align: center;
}
#dualdegrees {
    min-height: 100vh;
    height: auto;
    background: $color-naranja;
    background: linear-gradient(to right, $color-naranja 0%, $color-amarillo 100%);
    background: url("https://linkingeducation.com/wp-content/uploads/2020/07/background-naranja.png");
    background-size: cover;
    background-position: center;
}

.section1__infocontainer {
    text-align: center;
    .section1__animation {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 39%;
        width: 692px;
    }
    .section1__scroll {
        width: 200px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        img {
            width: 100%;
        }
    }
}
.titulo__top__normal {
    p {
        @extend %tituloTop;
        color: $color-gris;
        margin: 20px auto;
    }
    hr {
        background: linear-gradient(to right, $color-naranja 0%, $color-amarillo 100%);
        height: 6px;
        width: 100px;
        margin: auto;
        border: none;
    }
}
.titulo__top__texto__normal {
    position: relative;
    margin: auto;
    width: 1250px;
    margin-top: 30px;
    p {
        @extend %textoLectura;
        color: $color-gris;
        margin: auto;
        text-align: center;
    }
}
#realmadrid{
    width: 90%;
    max-width: 1400px;
    margin: auto;
    margin-top: 50px;
}
.imgfull{
  width: 100%;
  margin: auto;
}
.mainpic{
    display: block;
    margin: 60px auto;
    max-width: 750px;
    width: 100%;
}
.logopic{
    display: block;
    margin: auto;
    max-width: 500px;
    width: 100%;
}
.realmadrid__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1250px;
    margin: auto;
    margin-top: 20px;
    .realmadrid__video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      }
    .realmadrid__video{
      position: relative;
      margin: 20px 0;
      display: block;
      width: 100%;
      max-width: 610px;
      height: 342px;
    }
    img{
        width: 100%;
        max-width: 610px;
        margin: 20px 0;
    }
    .realmadrid__text{
        width: 100%;
        max-width: 610px;
        margin: 20px 0;
        @extend %textoLectura;
        font-size: 22px;
        line-height: 150%;
        margin-bottom: 10px;
        margin-top: 20px;
        text-align: left;
    }
    .realmadrid__img{
        width: 100%;
        max-width: 1250px;
        margin: 20px 0;
    }
    .realmadrid__text__full{
        width: 100%;
        max-width: 1250px;
        margin: 20px 0;
        @extend %textoLectura;
        font-size: 22px;
        line-height: 150%;
        margin-bottom: 10px;
        margin-top: 20px;
        text-align: left;
    }
}
.rm__values__normalText{
    margin: 30px auto 20px auto;
    @extend %textoLectura;
    font-size: 22px;
    line-height: 150%;
    max-width: 1250px;
}
.rm__values__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1000px;
    margin: auto;
    .rm__values__text{
        width: 100%;
        max-width: 360px;
        margin: 20px auto;
        p{
            @extend %textoLectura;
            font-size: 22px;
            line-height: 150%;
            margin-top: 20px;
            color: $color-naranja;
            font-weight: 700;
        }
    }
    img{
        width: 100%;
        max-width: 640px;
        margin: 20px auto;

    }
}

.masterdegrees__containers {
  display: flex;
  margin: 40px auto;
  max-width: 1250px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; }
  .masterdegrees__containers .masterdegrees__containers__item {
    width: 31%;
    min-width: 250px;
    margin-bottom: 50px; }
    .masterdegrees__containers .masterdegrees__containers__item img {
      width: 100%; }
    .masterdegrees__containers .masterdegrees__containers__item hr {
      background: linear-gradient(to right, #cd4e37 0%, #d98d28 100%);
      height: 3px;
      width: 80px;
      margin: auto;
      border: none;
      margin-top: 20px; }
    .masterdegrees__containers .masterdegrees__containers__item p {
      margin-top: 10px;
      font-size: 22px;
      line-height: 150%;
    }
    .masterdegrees__containers .masterdegrees__containers__item ul {
      list-style: none;
      letter-spacing: 0; }
      .masterdegrees__containers .masterdegrees__containers__item ul li {
        letter-spacing: 0;
        margin: 0 0 5px 25px;
        font-size: 22px;
        line-height: 150%;
        text-align: left; }
        .masterdegrees__containers .masterdegrees__containers__item ul li::before {
          content: "\2022";
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -24px; }

.degrees{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1250px;
    margin: 20px auto;
    .degrees__title{
        @extend %textoLectura;
        font-size: 22px;
        line-height: 150%;
        margin: 20px auto;
        font-weight: 700;
        width: 100%;
    }
    .degrees__description{
        @extend %textoLectura;
        font-size: 22px;
        line-height: 150%;
        text-align: left;
    }
    .degrees__container{
        max-width: 320px;
        margin-top: 40px;
        img{
            width: 100%;
        }
        .degrees__title{
            @extend %textoLectura;
            font-size: 22px;
            line-height: 150%;
            margin: 10px auto;
            font-weight: 700;
        }
        hr {
            background: linear-gradient(to right, $color-naranja 0%, $color-amarillo 100%);
            height: 3px;
            width: 100px;
            margin: 20px auto 20px auto;
            border: none;
        }
        .degrees__description{
            @extend %textoLectura;
            font-size: 22px;
            line-height: 150%;
            text-align: left;
        }
        ul {
            list-style: none;
            margin-bottom: 30px;
            li {
                margin: 3px 0;
                line-height: 25px;
                @extend %proximaNova_Regular;
                color: $color-gris;
                text-align: left;
                font-size: 22px;
                line-height: 150%;
                &::before {
                    content: "\2022";
                    @extend %textoGradient;
                    font-weight: bold;
                    display: inline-block;
                    width: 1em;
                    margin-left: -20px;
                }
            }
        }
    }
}

#rm__orange {
    background: $color-naranja;
    background: linear-gradient(to right, $color-naranja 0%, $color-amarillo 100%);
    background: url("https://linkingeducation.com/wp-content/uploads/2020/07/background-naranja.png");
    background-size: cover;
    background-position: center;
    .rm__orange__text{
        @extend %textoLectura;
        font-size: 22px;
        line-height: 150%;
        margin: 10px auto;
        font-weight: 700;
        color: $color-blanco;
    }
    img{
        max-width: 50px;
    }
}

#thewhiteweek {
    max-width: 1250px;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    .thewhiteweek__imgContainer{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 1250px;
      margin: auto;
      margin-top: 30px;
      .thewhiteweek__video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .thewhiteweek__video{
        position: relative;
        margin: 20px 0;
        display: block;
        width: 100%;
        max-width: 600px;
        height: 333px;
      }
      img{
        width: 100%;
        max-width: 600px;
        margin: 20px 0;
        object-fit: cover;
        object-position: 60% 0%;
        height: 333px;
      }
    }
    p{
        width: 100%;
        max-width: 1250px;
        margin: 20px 0;
        @extend %textoLectura;
        font-size: 22px;
        line-height: 150%;
        margin-bottom: 10px;
        margin-top: 20px;
        text-align: left;
    }
    .titulo__top__normal {
        p {
            @extend %tituloTop;
            color: $color-gris;
            margin: 20px auto;
            text-align: center;
        }
        hr {
            background: linear-gradient(to right, $color-naranja 0%, $color-amarillo 100%);
            height: 6px;
            width: 100px;
            border: none;
        }
    }
}
#pilars{
    padding: 0;
}
.pilars{
    width: 100%;
    margin: 0;
    margin-top: 40px;
    .pilars__container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 50px 0;
        .pilars__img{
            max-width: 610px;
            width: 100%;
            margin-right: 5%;
            img{
                width: 100%;
            }
        }
        .pilars__text{
            max-width: 45%;
            width: 100%;
            .pilars__title{
                @extend %textoLectura;
                font-size: 22px;
                line-height: 150%;
                margin: 0 auto 20px auto;
                font-weight: 700;
                width: 100%;
                text-align: left;
            }
            .pilars__description{
                @extend %textoLectura;
                font-size: 22px;
                line-height: 150%;
                text-align: left;
            }
            ul {
                list-style: none;
                li {
                    margin: 3px 0;
                    line-height: 25px;
                    @extend %proximaNova_Regular;
                    text-align: left;
                    font-size: 22px;
                    line-height: 150%;
                    &::before {
                        content: "\2022";
                        @extend %textoGradient;
                        font-weight: bold;
                        display: inline-block;
                        width: 1em;
                        margin-left: -20px;
                    }
                }
            }
        }
    }
}
.pilars__title__1{
    color:#d98d28;
    font-weight: 700;
    font-size: 48px;
    margin-right: 20px;
}
.pilars__title__2{
    color:#d98d28;
    font-weight: 700;
    font-size: 48px;
    margin-right: 20px;
    
}
.pilars__title__3{
    color:#d98d28;
    font-weight: 700;
    font-size: 48px;
    margin-right: 20px;
}
#contactoDatos {
    padding: 20px 0 50px 0;
    min-height: auto;
}
#contactoFormulario{
    margin-top: 50px;
}
.footer__Datos__Contacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    &:nth-child(1) {
        text-align: right;
    }
    &:nth-child(3) {
        text-align: left;
    }
    .footer__Datos__Contacto__Paises {
        .footer__Datos__Contacto__Titulo {
            color: $color-amarillo;
            font-size: 23px;
            line-height: 26px;
            @extend %proximaNova_Bold;
            margin-bottom: 20px;
        }
        .footer__Datos__Contacto__Texto {
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 0 !important;
            @extend %proximaNova_Regular;
            color: $color-gris;
        }
        img {
            width: 32px;
        }
    }
    .footer__Datos__Contacto__Linking {
        text-align: center;
        margin: 0 5%;
        a {
            color: $color-amarillo;
            font-size: 18px;
            line-height: 25px;
            @extend %proximaNova_Regular;
        }
        img {
            margin: 10px auto;
            display: block;
            width: 210px;
        }
    }
}


.footer__Formulario__Container {
    width: 100vw;
    background: $color-naranja;
    background: linear-gradient(to right, $color-naranja 0%, $color-amarillo 100%);
    background: url("https://linkingeducation.com/wp-content/uploads/2020/07/background-footer.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 587px;
    .titulo__top__white {
        margin: 30px auto 10px auto;
    }
    .footer__Formulario__Form {
        width: 80%;
        max-width: 980px;
        margin: 5px auto 10px auto;
        box-shadow: 0px 5px 14px 0px rgba(97, 53, 0, 0.7);
        height: 413px;
    }
}
.footer__Formulario__Copyright {
    background-color: #000;
    text-align: center;
    display: block;
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    p {
        font-size: 13px;
        line-height: 20px;
        @extend %proximaNova_Regular;
        color: $color-blanco;
        padding: 0;
        margin: 0;
    }
}
#fieldTitle {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    @extend %proximaNova_Bold;
    text-align: left;
    display: inherit;
}

#field__your-name,
#field__your-mail,
#field__your-company-university,
#field__your-position,
#field__your-message {
    br {
        display: none;
    }
}
.wpcf7 {
    background-blend-mode: darken;
    background-color: rgba(217, 141, 40, 0.2);
}
.wpcf7 input:not([type="submit"]):not([type="checkbox"]),
.wpcf7 textarea,
.wpcf7 select {
    font-size: 14px;
    line-height: 20px;
    @extend %proximaNova_Bold;
}
.wpcf7-list-item-label {
    font-size: 15px;
    line-height: 28px;
    @extend %proximaNova_Regular;
}
.wpcf7-form {
    padding: 30px;
    height: 413px;
}
.wpcf7-form-control-wrap {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    padding: 12px 0;
}
.wpcf7-form input[type="submit"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0 !important;
    background-color: $color-blanco;
}
.wpcf7 input[type="submit"] {
    color: #000 !important;
    margin: auto;
}
input[type="submit"],
button[type="submit"] {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: #000 !important;
    @extend %proximaNova_Regular;
    text-transform: lowercase !important;
    padding: 5px 10px !important;
}
.wpcf7-form input[type="submit"]:hover {
    transform: translatey(4px);
    background-color: $color-amarillo !important;
}
#field__first__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    #field__left {
        width: 45%;
        display: block;
        margin-top: 0px;
        #field__your-name,
        #field__your-company-university {
            display: block;
        }
    }
    #field__right {
        width: 45%;
        display: block;
        margin-top: 0;
        #field__your-position,
        #field__your-mail {
            display: block;
        }
    }
    #field__your-message,
    #field__send {
        width: 100%;
    }
}
#field__send br {
    display: none;
}
.your-message,
.your-consent {
    float: clear;
    width: 100%;
}
.your-message textarea {
    max-height: 70px;
}
.your-consent {
    border: none;
}
span.wpcf7-list-item {
    margin: 0;
    margin-top: 10px;
    text-align: left !important;
}
textarea,
#footer textarea {
    padding: 10px 0 11px 0 !important;
}
input[type="text"],
input[type="email"],
input[type="password"],
input:not([type="submit"]),
textarea,
.wpcf7 select {
    padding: 10px 0 11px 0 !important;
    color: #fff !important;
}

@media (max-width: 1635px) {
    .lineavertical {
        top: 240px;
        left: 122px;
    }

    .footer__Datos__Contacto {
        margin: 30px auto 10px auto;
        &:nth-child(1) {
            text-align: right;
        }
        &:nth-child(3) {
            text-align: left;
        }
        .footer__Datos__Contacto__Linking {
            img {
                width: 139px;
            }
        }
        .footer__Datos__Contacto__Paises {
            .footer__Datos__Contacto__Titulo {
                font-size: 15px;
                line-height: 17px;
                margin-bottom: 10px;
            }
            .footer__Datos__Contacto__Texto {
                font-size: 13px;
                line-height: 18px;
            }
        }
        .footer__Datos__Contacto__Linking {
            a {
                font-size: 13px;
                line-height: 18px;
            }
        }
    }

    .footer__Formulario__Container {
        width: 100%;
        height: 560px;
        .titulo__top__white {
            margin: 20px 40px 10px 40px;
            p {
                font-size: 20px;
            }
        }
        .footer__Formulario__Form {
            width: 80%;
            max-width: 980px;
            margin: 10px auto;
            box-shadow: 0px 5px 14px 0px rgba(97, 53, 0, 0.7);
            height: 423px;
        }
    }

    .wpcf7-form {
        height: 423px;
    }
}

@media (max-width: 1520px) {
    .section1__infocontainer {
        .section1__animation {
            width: 90%;
            max-width: 520px;
        }
        .section1__scroll {
            width: 90%;
            max-width: 160px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            img {
                width: 100%;
            }
        }
    }
    .titulo__top__normal {
        p {
            color: $color-gris;
        }
    }
    .titulo__top__texto__normal {
        width: 100%;
        p {
            font-size: 18px;
        }
    }
}

@media (max-width: 1220px) {
    /* Nav */
    #navegador {
        .navegador {
            .navegador__links {
                max-width: 100%;
                width: 100%;
                float: left;
                li {
                    &:nth-child(1) {
                        margin-left: -21px;
                    }
                    ul {
                        li {
                            &:nth-child(1) {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    section {
        padding: 80px 70px;
    }
}
    
@media (max-width: 1320px) {
    #pilars{
        padding: 60px 40px;
    }
    .pilars{
        max-width: 1250px;
        margin: auto;
        .pilars__container{
            .pilars__img{
                max-width: 300px;
                width: 100%;
            }
            .pilars__text{
                max-width: 600px;
                width: 100%;
            }
        }
    }
}

@media (max-width: 940px) {
    .pilars__title__1{
        margin-left: 0;
    }
    .pilars__title__2{
        margin-left: 0;
        
    }
    .pilars__title__3{
        margin-left: 0;
    }
    
    /* Nav */
    #navegador {
        .navegador {
            .navegador__logo {
                width: 100%;
            }
            .navegador__links {
                max-width: 500px;
                width: 100%;
                li {
                    &:nth-child(1) {
                        margin-left: -21px;
                    }
                    &:nth-child(4) {
                        margin-left: -21px;
                    }
                    ul {
                        li {
                            &:nth-child(1) {
                                margin-left: 0;
                            }
                        }
                    }
                }
                li:hover {
                    ul {
                        display: none;
                    }
                }
            }
        }
    }
    #cd-vertical-nav{
        display: none;
    }
    #contactoDatos {
        padding: 150px 0 50px 0;
        min-height: auto;
    }
    section {
        padding: 60px 40px;
    }
    .footer__Datos {
        height: auto;
    }
    .footer__Formulario__Container {
        width: 100%;
    }
    .footer__Formulario__Container .footer__Formulario__Titulo {
        width: 56%;
    }
    .wpcf7-form {
        padding: 10px 10px 20px 20px;
        height: 424px;
    }
    .footer__Formulario__Container .footer__Formulario__Titulo {
        margin-top: 30px;
    }
    .footer__Formulario__Container {
        height: 650px;
    }
    .footer__Formulario__Form {
        margin: 20px auto;
        height: 424px;
    }

    #field__first__row {
        width: 100%;
    }
    #field__your-name,
    #field__your-mail,
    #field__your-company-university,
    #field__your-position {
        width: 97%;
    }
    #field__your-message,
    #field__send {
        width: 97%;
    }
    .your-message textarea {
        max-height: 101px;
    }
}

@media (max-width: 664px) {

    section{
        height: auto;
        min-height: auto;
    }
    #dualdegrees{
        min-height: 100vh;
        height: auto;
    }
    /* Nav */
    #navegador {
        .navegador {
            .navegador__logo {
                width: 100%;
                a {
                    img {
                        padding-bottom: 12px;
                        width: 150px;
                    }
                }
            }
            .navegador__links {
                max-width: 400px;
                width: 100%;
                margin-top: 0;
                li {
                    padding: 7px 0 0 20px;
                    font-size: 15px;
                    margin-left: 10px;
                    &:nth-child(1) {
                        margin-left: -21px;
                    }
                    &:nth-child(3) {
                        margin-left: -21px;
                    }
                    &:nth-child(4) {
                        margin-left: 5px;
                    }
                    ul {
                        li {
                            &:nth-child(1) {
                                margin-left: 0;
                            }
                        }
                    }
                }
                li:hover {
                    ul {
                        display: none;
                    }
                }
            }
        }
    }

    .section1__infocontainer {
        padding-top: 180px;
        .section1__animation {
            width: 90%;
            max-width: 380px;
        }
    }  
    .footer__Datos__Contacto {
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 50px;
        .footer__Datos__Contacto__Paises {
            text-align: center;
        }
        .footer__Datos__Contacto__Linking {
            text-align: center;
            margin: 30px;
        }
    }
    #Datos {
        background-color: #f5f5f5;
    }
    .footer__Formulario__Container {
        width: 100%;
        height: 770px;
        .titulo__top__white {
            margin: 20px 40px 10px 40px;
            p {
                font-size: 20px;
            }
        }
        .footer__Formulario__Form {
            width: 90%;
            max-width: 100%;
            margin: 10px auto;
            box-shadow: 0px 5px 14px 0px rgba(97, 53, 0, 0.7);
            height: 583px;
        }
    }
    .wpcf7-list-item-label {
        font-size: 13px;
        line-height: 28px;
    }
    .wpcf7-form {
        height: 583px;
    }
    #field__first__row {
        width: 100%;
        #field__left {
            width: 100%;
        }
        #field__right {
            width: 100%;
        }
        #field__your-message,
        #field__send {
            width: 100%;
        }
    }
}

@media (max-width: 545px) {

    /* Nav */
    #navegador {
        .navegador {
            .navegador__logo {
                width: 100%;
                a {
                    img {
                        padding-bottom: 12px;
                        width: 150px;
                    }
                }
            }
            .navegador__links {
                max-width: 300px;
                width: 100%;
                margin-top: 0;
                padding-left: 10px;
                li {
                    padding: 7px 0 0 7px;
                    font-size: 14px;
                    margin-left: 2px;
                    &:nth-child(1) {
                        margin-left: -21px;
                    }
                    &:nth-child(3) {
                        margin-left: -21px;
                    }
                    &:nth-child(4) {
                        margin-left: 2px;
                    }
                    ul {
                        li {
                            &:nth-child(1) {
                                margin-left: 0;
                            }
                        }
                    }
                }
                li:hover {
                    ul {
                        display: none;
                    }
                }
            }
        }
    }
    #Datos {
        height: auto;
    }
    .footer__Datos__Contacto {
        width: auto;
    }

    .footer__Formulario__Container {
        height: 980px;
        .footer__Formulario__Form {
            height: 604px;
        }
    }
    .wpcf7-form {
        height: 604px;
    }
}
