@font-face {
    font-family: proxima_nova, sans-serif;
    font-weight: 700;
    src: 
         url('proxima_nova_bold.woff2') format('woff2'),
         url('proxima_nova_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: proxima_nova, sans-serif;
    font-weight: 400;
    src: 
        url('/Sitio/css/font/proxima_nova_regular.woff2') format('woff2'),
        url('/Sitio/css/font/proxima_nova_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}